<div id="content-top-row" class="row">
    <div class="col-sm-2"></div>
    <div id="content-list-1" class="col-sm-8">
        <ul class="list-group list-group-flush">
            {% for item in datas.content %}
                <li class="list-group-item">{{ item }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-sm-2"></div>
</div>