<div id="content-top-row" class="row">
    <div class="col-sm-2"></div>
    <div id="content-col" class="col-sm-8">
        <h5>{{ datas.content.subtitle }}</h5>
        <div class="mx-2 mt-2 mb-4">{{ datas.content.subcontent }}</div>
    </div>
    <div class="col-sm-2"></div>
</div>