{% extends "home.html.twig" %}

{% block content %}
    <div id="content-top-row" class="row">
        {#<div class="col-sm-1"></div>#}



        <div id="sidenav-col" class="col-md-2 col-xs-12 mb-3">
            <div class="list-group" id="list-tab" role="tablist">

                <a class="list-group-item list-group-item-action active" id="list-mater-list" data-toggle="list" href="#list-mater" role="tab" aria-controls="mater">Sophrologie et Maternité</a>
                <a class="list-group-item list-group-item-action" id="list-ado-list" data-toggle="list" href="#list-ado" role="tab" aria-controls="ado">Enfance / Adolescence</a>
                <a class="list-group-item list-group-item-action" id="list-famille-list" data-toggle="list" href="#list-famille" role="tab" aria-controls="famille">Sophrologie en Famille</a>

            </div>
        </div>


        {#<div class="col-sm-1"></div>#}



        <div id="content-col" class="col-md-8 col-xs-12">
            <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="list-mater" role="tabpanel" aria-labelledby="list-mater-list">

                        <h5>Sophrologie pour les stérilités psychogènes</h5>
                        <div class="mx-2 mt-2 mb-4">
                            Il s’agit de lever les blocages d’une stérilité sans aucune
                            cause organique, anatomique ou physiologique chez les
                            deux partenaires.
                        </div>

                        <h5>Sophrologie pour les futures mamans</h5>
                        <div class="mx-2 mt-2 mb-4">
                            La sophrologie accompagne la future maman à vivre une
                            grossesse harmonieuse et à se préparer à un accouchement
                            serein.
                            L’accompagnement sophrologique débute dès le 3ème
                            ou 4ème mois de grossesse et peut se poursuivre après
                            l’accouchement pour bien vivre la période post-natale :
                            Gérer le baby blues, la fatigue et les angoisses ou
                            simplement rester en forme…
                        </div>

                        <h5>Sophrologie pour les bébés dès la naissance</h5>
                        <div class="mx-2 mt-2 mb-4">
                            Il s’agit ici de vous transmettre des mouvements doux et
                            simples à travers des massages que vous pourrez refaire
                            chez vous sans aucune difficulté.
                            C’est à travers le toucher que vous pourrez établir un
                            contact immédiat, magique et naturel.
                            Le massage de bébé est une source indispensable pour son
                            bien-être afin de l’accompagner dans sa croissance
                            corporelle et mentale.

                            Il ne s’agit en aucun cas d’un massage technique mais d’un
                            échange ludique, doux et rassurant qui inclus la voix,
                            le regard…
                        </div>
                    </div>

                    <div class="tab-pane fade" id="list-ado" role="tabpanel" aria-labelledby="list-ado-list">

                        <h5>Sophrologie pour les enfants</h5>
                        <div class="mx-2 mt-2 mb-4">
                            C’est à travers le jeu, la voix, le conte, le mouvement
                            que l’enfant accomplira des exercices de respiration, de
                            relaxation, d’écoute du corps, d’éveil aux sens,
                            d’imagination, de concentration et de mémorisation.
                            C’est en effet par le jeu, que l’on pourra attirer la
                            curiosité de l’enfant et ainsi lui donner envie de
                            reproduire ces outils de façon autonome et
                            naturelle quand cela lui semblera nécessaire :
                            La confiance et l’estime de soi
                            L’ouverture aux autres et l’affirmation de soi
                            La conscience de soi et des autres
                            Découvrir et apprendre à gérer ses émotions…
                        </div>

                        <h5>Sophrologie pour les adolescents</h5>
                        <div class="mx-2 mt-2 mb-4">
                            Particulièrement indiqué chez les adolescents.
                            Il s’agira des même objectifs tout en prenant en compte
                            la puberté qui entraîne les modifications physiques et
                            psychologiques parfois difficiles à vivre intérieurement:
                            Travailler l’image de soi, se réconcilier avec son
                            corps et accepter les transformations
                            Se voir dans le futur, se projeter vers l’adulte qu’il
                            Veut devenir...
                            Gérer son énergie à travers le souffle (se calmer ou
                            se tonifier)
                            Se préparer aux examens sereinement et mettre en
                            place le potentiel nécessaire.
                        </div>
                    </div>

                <div class="tab-pane fade" id="list-famille" role="tabpanel" aria-labelledby="list-famille-list">

                    <h5>Sophrologie en Famille</h5>
                    <div class="mx-2 mt-2 mb-4">
                        C’est à travers la Sophro-Relaxation en Famille que vous pourrez influer sur votre niveau de stress et ainsi lutter contre ses effets au quotidien.
                        C’est en la pratiquant régulièrement qu’elle vous
                        permettra d’améliorer vos rapports familiaux, d’enrichir votre communication pour que chacun trouve sa place.
                        Il s’agira avant tout de créer un espace de détente qui
                        passera par l’échange, la complicité et la compréhension …


                        En fonction des besoins de chacun, la sophrologie et la relaxation permettent de traiter un ou plusieurs
                        problèmes clairement identifiés dans le cadre d’un travail thérapeutique personnalisé prenant en compte la globalité de la personne (le caractère, le vécu, les troubles physiologiques et psychologiques…)
                        permettant l’équilibre des corps physique, mental et émotionnel.
                        Et ainsi, développer une confiance en soi, un mieux être général et enfin une capacité d’espoir et de
                        positivisation.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
{% endblock %}