<div id="footer-row" class="row justify-content-center fixed-bottom">
    <div class="col-md-auto"><a class="footer-style" href="/">Contact</a></div>
    <div class="col-md-auto"><a class="footer-style" href="/">Mentions légales</a></div>
    <div class="col-md-auto"><a class="footer-style" href="/">Ethique et déontologie</a></div>
    <div class="w-100"></div>
    <div class="col-md-auto footer-style">Copyright © 2017 Sophrologue-Relaxologue - Tous droits réservés Designed by MOA.</div>
</div>