<div id="header-row" class="row">
    <div id="header-title-col" class=" col-md-8 col-sm-12 d-none d-sm-block pl-3">
        {#<i class="fa fa-user-circle "></i>#}
        <h1 class="text-white text-justify">Sophrologue-Relaxologue</h1>
    </div>
    <div id="header-contact-col" class="col-md-4 col-sm-12 col-xs-12 pr-3">
        <div class="row h-100">
            <div class="col-12 text-md-right text-center my-auto">
                <h4 id="header-contact-text">E. Lefevre Vasseur <span class="fa fa-phone-square"/> : 06 XX XX XX XX</h4>
            </div>
        </div>
    </div>
</div>